/*.label{}*/
/*.label{*/
/*    -fx-font-family: ;*/
/*    !*-fx-font-family: 'Lato';*!*/
/*    !*src: url('Lato-Bold.ttf');*!*/
/*}*/


.label{}
.label{


    -fx-border-color: silver;


}
.list-view{}
.list-view{
    -fx-font-family: Cambria ;
    -fx-font-size: 16px;
    -fx-border-color: silver;

}

.text-area{}
.text-area{
    -fx-font-family: Cambria ;
    -fx-font-size: 18px;
}





