


.label{}
.label{
    -fx-border-color: silver;
    -fx-fill-width: relative;
}

.list-view{}
.list-view{
    -fx-font-family: Cambria ;
    -fx-font-size: 18px;
    -fx-border-color: silver;

}

.text-area{}
.text-area{
    -fx-font-family: Cambria ;
    -fx-font-size: 18px;
}

.list-view{}
.list-view .scroll-bar .thumb{
    -fx-background-color: #737373;
}
.text-area{}
.text-area .scroll-bar .thumb{
    -fx-background-color: #737373;

}









